<%= stylesheet_link_tag "groupsNew" %>
<div class="formContainer">
<div class="card card-body">
<h1>New Group</h1>

<%= render 'form', group: @group %>

<%= link_to 'Back', groups_path %>
</div>
</div>
